.main-div-bg {
    background: green;
}

.main-div-content {
    background: pink;
}

.footer-bg {
    background: red;
}

.footer-content {
    background: purple;
}

.div-content {
    background: yellow;
}

.div-button {
    background: blue;
}